body[b-agdasut7wc] {
    color: #74727a;
    font-size: 18px;
    line-height: 34px;
    overflow-x: hidden;
}

a:hover[b-agdasut7wc] {
    text-decoration: none;
}

.one .container[b-agdasut7wc] {
    padding-top: 150px;
    padding-bottom: 130px;
    position: relative;
}

.title[b-agdasut7wc] {
    margin: 0;
    color: #483D8B;
    font-weight: 400;
    font-size: 90px;
    line-height: 1em;
}

.text[b-agdasut7wc] {
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    color: #74727a;
    margin-top: 25px;
    margin-bottom: 40px;
}
.hinh-anh[b-agdasut7wc] {
    position: absolute;
    bottom: 9%;
    right: -20px;
}

    .hinh-anh img[b-agdasut7wc] {
        position: relative;
        margin-top: 280px;
        margin-left: -30px;
        animation: hieu-ung-hinh-anh 5s ease-in-out 0s infinite alternate;
        width:600px;
    }
[class*=shape-][b-agdasut7wc] {
    position: absolute;
    border-radius: 50%;
    animation: bubble-b-agdasut7wc;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.shape-1[b-agdasut7wc] {
    background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
    width: 150px;
    height: 150px;
    top: 5%;
    left: 3%;
    animation-duration: 8s;
    perspective: 150px;
}

.shape-2[b-agdasut7wc] {
    background-image: linear-gradient(40deg, #39aeff 0%, #3cff53 100%);
    width: 85px;
    height: 85px;
    top: 20%;
    left: 38%;
    animation-duration: 10s;
    perspective: 150px;
}

.shape-3[b-agdasut7wc] {
    background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
    width: 150px;
    height: 150px;
    bottom: 12%;
    left: 6%;
    animation-duration: 7s;
    perspective: 150px;
}

.shape-4[b-agdasut7wc] {
    background-image: linear-gradient(40deg, #ff703e 0%, #ffec4e 100%);
    width: 85px;
    height: 85px;
    top: 20%;
    right: 4%;
    animation-duration: 12s;
    perspective: 85px;
}
@keyframes bubble-b-agdasut7wc {
    0% {
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(30px) translateX(50px) rotate(15deg);
    }

    50% {
        transform: translateY(50px) translateX(100px) rotate(45deg);
    }

    80% {
        transform: translateY(30px) translateX(50px) rotate(15deg);
    }

    100% {
        transform: translateY(0px) translateY(0) rotate(0);
        transform-origin: center center;
    }
}
.btn-1[b-agdasut7wc] {
    padding: 18px 55px;
}

.btn-duong-dan[b-agdasut7wc] {
    border: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    padding: 14px 41px;
    background-image: linear-gradient(90deg, #56CCF2 0%, #2F80ED 100%);
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}