@page "/aboutus"

<header>
    <div class="header">
        <div class="logo">
            <img src="images/logo2.png" alt="Logo của website">
        </div>

        <div class="container">
            <h1 class="heading">
                <span class="heading-title">Group 4</span>
                <span class="heading-sub">Đi đâu không quan trọng, quan trọng là được đi cùng nhau.</span>
            </h1>
            <a href="/profilecard" class="btn btn-white">Khám Phá Ngay</a>
        </div>

    </div>
</header>
