@page "/dichvu"

<div class="page-header">
    <section class="one" id="banner">
        <span class="shape-1"></span>
        <span class="shape-2"></span>
        <span class="shape-3"></span>
        <span class="shape-4"></span>
        <div class="container">
            <div class="hinh-anh">
                <img src="images/doremon.png" alt="Hình ảnh minh họa ">
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <h3 class="title">Group 4</h3>
                    <p class="text">
                        Tôi không có tài năng gì cả, Tôi chỉ đam mê hiểu biết.<br />
                        --Albert Einstein---
                    </p>
                    <a href="/" class="btn-1 btn-duong-dan">Truy Cập Trang</a>
                </div>
            </div>
        </div>
    </section>
</div>