@page "/profilecard"

<div class="text"><h2>Danh sách thành viên trong nhóm</h2></div>

<div class="container">
    
    <div class="tieu_de">
        <img src="images/hau.jpg">
        <div class="noi_dung">
            <h2>Trần Minh Hậu</h2>
            <h3 class="chuyen_dong_text">
                Code chính
            </h3>
            <p class="chuyen_dong_text">
                Tôi không có tài năng gì cả. Tôi chỉ đam mê hiểu biết<br />
                ---Albert Einstein---
            </p>
            <div class="icon">
                <ul>
                    <li clas="facebook">
                        <a href="">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tieu_de">
        <img src="images/loi.jpg" alt="">
        <div class="noi_dung">
            <h2>Hồ Phước Lợi</h2>
            <h3 class="chuyen_dong_text">
                Thiết kế page "Về chúng tôi"
            </h3>
            <p class="chuyen_dong_text">
                ...
            </p>
            <div class="icon">
                <ul>
                    <li clas="facebook">
                        <a href="">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tieu_de">
        <img src="images/ben.jpg" alt="">
        <div class="noi_dung">
            <h2>Phan Vững Bền</h2>
            <h3 class="chuyen_dong_text">
                Thiết Kế Giao Diện
            </h3>
            <p class="chuyen_dong_text">
                ....
            </p>
            <div class="icon">
                <ul>
                    <li clas="facebook">
                        <a href="">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="tieu_de">
            <img src="images/nghiep.jpg" alt="">
            <div class="noi_dung">
                <h2>Nguyễn Thiện Nghiệp</h2>
                <h3 class="chuyen_dong_text">
                    Thiết kế Giao Diện
                </h3>
                <p class="chuyen_dong_text">
                    ....
                </p>
                <div class="icon">
                    <ul>
                        <li clas="facebook">
                            <a href="">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="tieu_de">
            <img src="images/thang.jpg" alt="">
            <div class="noi_dung">
                <h2>Trần Hưu Thắng</h2>
                <h3 class="chuyen_dong_text">
                    Thiết Kế Page "Dịch Vụ" & "Liên Hệ"
                </h3>
                <p class="chuyen_dong_text">
                    ....
                </p>
                <div class="icon">
                    <ul>
                        <li clas="facebook">
                            <a href="">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
