.font-h3 h3 {
    margin-left: 25px;
    font-size: 25px;
    color: rgb(217 17 17 / 81%);
    font-family: cursive;
    margin-top: 50px;
}
.font-h1 h1 {
    margin-left: 25px;
    margin-top: 1px;
    font-size: 20px;
}
.card-deck {
    padding: 1%;
    padding-left: 3%;
}