@page "/"
<div>
    <Slider />
</div>
<div class="main">
    <article>
        <div class="new_list">
            <div class="new_item">
                <h4>Gaming accessories</h4>
                <div class="img_card"><img src="images/big4.jpg" alt="" /></div>
                <div class="content">
                    <a href="sanphamlist">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>Deals & Promotions</h4>
                <div class="img_card"><img src="images/big1.jpg" alt="" /></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>Holiday Gifts</h4>
                <div class="img_card"><img src="images/big5.jpg" alt="" /></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>New arrivals in Toys</h4>
                <div class="img_card"><img src="images/big2.jpg" alt="" /></div>
                <div class="content">
                    <a href="/danhsachsanpham">Show now</a>
                </div>
            </div>
            <div style="clear: both; "></div>
        </div>
    </article>

    <article>
        <div class="new_list">
            <div class="new_item">
                <h4>Oculus</h4>
                <div class="img_card"><a href=""><img src="images/big6.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>Shop by Category</h4>
                <div class="img_card"><a href=""><img src="images/big8.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>Early Black Friday deal</h4>
                <div class="img_card"><a href=""><img src="images/big9.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>
            <div class="new_item">
                <h4>Electronics</h4>
                <div class="img_card"><a href=""><img src="images/big7.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>
            <div style="clear: both; "></div>
        </div>
    </article>

    <article>
        <div class="new_list">
            <div class="new_item">
                <h4>New arrivals in Toys</h4>
                <div class="img_card"><a href=""><img src="images/big2.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>Shop activity trackers and smartwatches</h4>
                <div class="img_card"><a href=""><img src="images/big10.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>For your Fitness Needs</h4>
                <div class="img_card"><a href=""><img src="images/big11.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>

            <div class="new_item">
                <h4>Shop Pet supplies</h4>
                <div class="img_card"><a href=""><img src="images/big12.jpg" alt="" /></a></div>
                <div class="content">
                    <a href="">Show now</a>
                </div>
            </div>
            <div style="clear: both; "></div>
        </div>
    </article>
</div>
