
/*------------*/

.main article .new_list .new_item {
    width: 23%;
    padding: 2%;
    float: left;
    background-color: #fff;
    margin-right: 2%;
}

.img_card img {
    width: 98%;
    height:300px;
}

.content {
    color: blue;
    font-size: 12px;
}

    .content a:hover {
        color: orange;
        text-decoration: underline;
    }

.main article {
    padding: 1%;
    padding-left:3%;
}
.main {
    flex: 1;
    margin-top: -333px;
}