<header>
    <a href="/">
        <img src="images/logo.png" alt="" />
    </a>
    @*nut search*@

    <div class="search">
        <input type="search" placeholder="Search..." name=" search" />
        <button type="submit"><i class="fa fa-search" style="font-size: 24px; color: #131921 "></i></button>
    </div>


    <nav>
        <div class="menu">
            <ul>
                <li><a href="#"><i class="fa fa-align-justify"></i>All</a></li>
                <li><a href="#">Today's Deals</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Registry</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Sell</a></li>
                <li style="float:right"><a href="loginpage">Login</a></li>
            </ul>
        </div>
    </nav>


</header>





