.slider {
    width: 1500px;
    height: 600px;
    /*margin: 50px auto;*/
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 100%;
    -webkit-animation: slide 16s infinite;
    -moz-animation: slide 16s infinite;
    animation: slide 16s infinite;
}

.slider-1, .slider-2, .slider-3, .slider-4 {
    width: 25%;
    height: 100%;
    float: left;
}

@-webkit-keyframes slide {
    0%,100% {
        margin-left: 0%;
    }

    12% {
        margin-left: 0%;
    }

    24% {
        margin-left: -100%;
    }

    36% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }

    84% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {
    0%,100% {
        margin-left: 0%;
    }

    12% {
        margin-left: 0%;
    }

    24% {
        margin-left: -100%;
    }

    36% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }

    84% {
        margin-left: -300%;
    }
}

@keyframes slide {
    0%,100% {
        margin-left: 0%;
    }

    12% {
        margin-left: 0%;
    }

    24% {
        margin-left: -100%;
    }

    36% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }

    84% {
        margin-left: -300%;
    }
}
